In [1]:
import pandas as pd
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv('train_no_lag.csv')

df = df.drop(columns=['LastRecord', 'Date Deployed'])

In [3]:
df.sample(10)

,deviceid,chargecycles,dischargecycles,total_off_time,number_times_restart,avg_volt_change_charging,avg_volt_change_discharging,avg_time_charging,avg_time_discharging,max_voltage_day,piececount,cycle_time,charge_cycle_time_below_12,fail_7
14228,28577,96.100000,96.450000,45.600000,1.150000,339.114000,342.491000,14.071000,22.232500,4147.150000,41.090909,36.303500,True,0
8322,13612,101.789474,101.842105,16.578947,2.894737,344.864211,346.918947,15.215263,21.348947,4154.157895,9.666667,36.564211,True,0
36328,6637,56.210526,56.263158,69.894737,2.157895,339.150000,334.485790,25.712632,44.801053,4145.631579,15.833333,70.513684,False,0
29115,22472,90.705882,90.470588,3.235294,1.000000,353.007647,347.473529,16.197059,26.514118,4156.705882,20.600000,42.711176,True,1
16454,15021,75.791667,75.750000,12.125000,2.500000,364.593333,356.642500,17.821667,30.358333,4176.333333,43.818182,48.180000,False,0
90,11747,71.181818,71.000000,0.818182,1.500000,345.650000,343.075909,18.917273,31.527273,4150.363636,9.700000,50.444545,False,0
17683,8348,56.444444,56.111111,21.666667,3.277778,342.866111,338.500000,23.450000,37.821111,4152.166667,9.928571,61.271111,False,0
13134,24052,93.866667,93.733333,7.400000,0.866667,340.804667,338.094000,12.358667,18.194000,4152.666667,14.727273,30.552667,True,1
18595,44506,84.125000,84.083333,7.750000,0.791667,342.378750,340.010833,17.154167,28.242500,4158.375000,19.923077,45.396667,True,1
28549,23006,68.913043,68.695652,28.173913,8.000000,353.163044,339.572609,22.595652,34.979565,4165.478261,18.285714,57.575217,True,1

In [4]:
logfit = linear_model.LogisticRegression()

In [5]:
#we split the data intro train and test
X_train, X_test, y_train, y_test = train_test_split(df.drop('fail_7', axis = 1), df['fail_7'])

#training data has 30375 observations
#test data has 10125 observations

In [6]:
X_train

,deviceid,chargecycles,dischargecycles,total_off_time,number_times_restart,avg_volt_change_charging,avg_volt_change_discharging,avg_time_charging,avg_time_discharging,max_voltage_day,piececount,cycle_time,charge_cycle_time_below_12
6924,39168,42.666667,42.333333,113.666667,8.916667,361.845833,349.304167,17.189167,29.447500,4163.416667,21.750000,46.636667,False
1608,9613,80.722222,80.611111,4.555556,1.333333,350.322222,342.897778,16.557222,26.319444,4164.944444,12.545455,42.876667,False
2229,45027,70.280000,70.200000,9.200000,0.840000,334.635200,330.323200,19.096800,32.376400,4142.560000,16.500000,51.473200,True
32069,46251,83.133333,83.066667,21.600000,2.466667,352.220667,352.822667,16.264000,25.694000,4157.933333,11.857143,41.958000,True
24341,35801,97.260870,97.391304,11.956522,1.434783,351.836522,351.108261,14.254783,23.390000,4164.652174,17.285714,37.644783,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38045,42643,83.083333,83.166667,0.416667,2.166667,363.489167,360.130833,16.653333,26.792500,4178.083333,13.600000,43.445833,True
35370,46238,86.772727,86.500000,41.227273,1.454545,369.985000,364.800455,14.194091,22.587727,4171.545455,24.636364,36.781818,False
22118,14874,73.947368,73.894737,0.263158,0.526316,331.261579,328.271579,18.962632,28.404737,4139.526316,18.888889,47.367368,False
19907,48273,74.416667,74.375000,4.791667,2.083333,360.846250,358.118750,18.916250,31.798750,4177.750000,32.666667,50.715000,True
3349,14011,97.000000,97.050000,82.800000,1.850000,369.885500,368.430000,11.393000,17.038500,4175.250000,20.166667,28.431500,True

In [7]:
X_test

,deviceid,chargecycles,dischargecycles,total_off_time,number_times_restart,avg_volt_change_charging,avg_volt_change_discharging,avg_time_charging,avg_time_discharging,max_voltage_day,piececount,cycle_time,charge_cycle_time_below_12
33539,16267,91.235294,91.000000,0.882353,1.117647,337.793529,333.644118,15.229412,22.778235,4155.235294,18.400000,38.007647,False
9081,49309,63.760000,63.520000,14.560000,1.200000,343.627600,337.045600,21.268000,34.399200,4155.080000,10.428571,55.667200,True
1827,19424,58.277778,58.222222,48.000000,4.055556,355.683889,351.798889,20.717222,29.036667,4161.611111,26.000000,49.753889,False
23442,41775,105.352941,105.294118,49.000000,0.647059,353.644118,352.542941,13.120000,19.218824,4159.705882,21.500000,32.338824,True
6295,36176,70.782609,70.695652,41.347826,1.304348,333.769130,329.681739,21.279130,33.853913,4139.086957,7.636364,55.133043,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26151,27743,91.761905,91.523810,0.428571,1.095238,348.759524,346.525238,15.332381,23.737619,4158.190476,10.307692,39.070000,False
6668,37993,76.944444,76.944444,74.833333,3.722222,337.233333,339.523333,19.145000,30.711111,4148.722222,14.000000,49.856111,False
25159,47161,75.000000,75.111111,9.074074,2.074074,353.913333,356.110370,20.543704,33.113333,4159.148148,11.125000,53.657037,True
37,41817,75.000000,75.117647,35.647059,0.764706,350.243529,351.638235,16.758824,25.749412,4161.764706,13.250000,42.508235,True
24545,10441,106.920000,106.960000,9.360000,2.240000,361.546400,359.834800,14.752000,24.038400,4170.480000,42.277778,38.790400,True

In [8]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression()

In [9]:
print(logreg.coef_)

[[-5.34479362e-07  2.38158910e-03  2.36558952e-03 -4.05557109e-04
   6.05696944e-04  1.22555097e-02  1.19991957e-02 -2.25894387e-04
  -2.91236372e-04 -2.41823245e-03  5.16879620e-04 -5.17130759e-04
   2.22188488e-03]]

In [10]:
y_pred = logreg.predict(X_test)

### confusion matrix evaluates the model

In [11]:
confusion_matrix(y_test, y_pred)

array([[7810,    2],
       [2313,    0]])

In [12]:
y_pred.shape

(10125,)

In [13]:
#df_y is 2 column dataframe of responses from test.
df_y = pd.DataFrame({'y_pred': y_pred, 'y_test':y_test})

#df_compare is df to pull all observations where prediction is correct 
df_correct = df_y.loc[df_y.y_pred == df_y.y_test]

#the 3 observations where the prediction was fail and correct 
df_correct.loc[df_y.y_test == 1]

Empty DataFrame
Columns: [y_pred, y_test]
Index: []

In [14]:
#7716 observations where prediction was no fail and correct 
df_correct.loc[df_y.y_test == 0]

       y_pred  y_test
33539       0       0
9081        0       0
1827        0       0
6295        0       0
37780       0       0
...       ...     ...
9318        0       0
26151       0       0
6668        0       0
25159       0       0
37          0       0

[7810 rows x 2 columns]

In [15]:
df_incorrect = df_y.loc[df_y.y_pred != df_y.y_test]

#2400 obversations where model predicted no fail, but device did fail. 
#where model did not catch the fail 
#the "worst" kind of error 
df_incorrect.loc[df_y.y_test == 1]

       y_pred  y_test
23442       0       1
30490       0       1
25126       0       1
12555       0       1
15433       0       1
...       ...     ...
38594       0       1
13276       0       1
5237        0       1
31019       0       1
24545       0       1

[2313 rows x 2 columns]

In [16]:
# 6 observations where model predicted fail, but device did not fail 
df_incorrect.loc[df_y.y_test == 0]

       y_pred  y_test
24259       1       0
33412       1       0